@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#project ul{
    list-style:none;
}
#project a{
    text-decoration: none;
}
/* project section */
#project{
    font-family: 'poppins', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 50px 0; */
    background-color: #081b29;
    min-height: 100vh;
}

.project-heading{
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;

}

.project-heading h3{
    font-size: 2.7rem;
    font-weight: 600;
    /* text-transform: uppercase; */
    color: #fff;
}
.project-heading span{
    color: #f33c3c;
}
.project-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    margin-top: 20px;
    border: 1px solid rgba(237, 237, 237, 0.6);
    flex-wrap: wrap;
    margin: 20px;
}
.project-filter li{
    margin: 10px;
    padding: 5px 20px;
    color: #9b9b9b;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}
.project-filter-active{
    background:linear-gradient(93.87deg,#095ae6,#062794);
    border-radius: 4px;
    color: #fff;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    max-width: 1200px; 
    margin-bottom:20px; 
}
.project-container p{
    color: white;
    text-align: justify;
}
.project-box{
    max-width: 330px;
    padding: 15px;
    border: 1px solid #9b9b9b;
    position: relative;
    z-index: 1;
    background:transparent;
    overflow: hidden;
    transition: .5s;
    border-radius: 6px;
}
.project-box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width:0;
    z-index: -1;
    height: 100%;
    background: linear-gradient(93.87deg,#095ae6,#062794);
    transition: 1s; 
}
.project-box:hover::before{
    width: 100%;
}

.project-box img{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
}

@media screen and (max-width:1024px) {
    .project-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 20px;
    }
}
@media screen and (max-width:745px) {
    .project-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 20px;
    }
}
